.vvdw { position: relative; text-align: center; font-size: 0; padding-bottom: 7.5rem; }

.vvdw, .vvdw-row, .vvdw-item, .vvdw-border, .vvdw-icon, .vvdw-text { box-sizing: border-box; background-clip: border-box; }

.vvdw-row { position: relative; display: inline-block; text-align: center; padding: 0; margin: -1px 0 0 0; height: 7.5rem; }

.vvdw-row:first-of-type { margin-top: 0; }

ul.vvdw-row { list-style: none; }

.vvdw-item { position: relative; display: table-cell; border-collapse: collapse; vertical-align: middle; text-align: center; width: 15rem; height: 15rem; font-size: 0.9rem; }

.vvdw-border { position: absolute; top: 2.175rem; left: 2.175rem; width: 10.6066rem; height: 10.6066rem; transform: rotate(45deg); border: 1px solid #eee; }

.vvdw-icon { display: inline-block; width: 6rem; height: auto; }

.vvdw-text { display: block; text-align: center; color: #888; font-size: 0.9rem; line-height: 2; }
