$vvdw_height: 15rem; // 默认是15rem高（240px）

// ------------------------------------------------------------
// 1. 消除元素间的空白字符
// ------------------------------------------------------------
.vvdw {
  position: relative;
  text-align: center;
  font-size: 0;                 // (1)
  padding-bottom: $vvdw_height / 2;
}

.vvdw,
.vvdw-row,
.vvdw-item,
.vvdw-border,
.vvdw-icon,
.vvdw-text {
  box-sizing: border-box;
  background-clip: border-box;
}

// ------------------------------------------------------------
// 1. 使上下两行border重合
// ------------------------------------------------------------
.vvdw-row {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: -1px 0 0 0;           // (1)
  height: $vvdw_height / 2;
}
.vvdw-row:first-of-type {
  margin-top: 0;                // (1)
}
ul.vvdw-row {
  list-style: none;
}

// ------------------------------------------------------------
.vvdw-item {
  position: relative;
  display: table-cell;
  border-collapse:collapse;
  vertical-align: middle;
  text-align: center;
  width: $vvdw_height;
  height: $vvdw_height;
  font-size: 0.9rem;
}

.vvdw-border {
  position: absolute;
  top: $vvdw_height * 0.145;
  left: $vvdw_height * 0.145;
  width: $vvdw_height / 1.414213562373;
  height: $vvdw_height / 1.414213562373;
  transform: rotate(45deg);
  border: 1px solid #eee;
}

.vvdw-icon {
  display: inline-block;
  width: $vvdw_height * 0.4;
  height: auto;
}

.vvdw-text {
  display: block;
  text-align: center;
  color: #888;
  font-size: 0.9rem;
  line-height: 2;
}
